.sidenav {
    background-color: rebeccapurple;
    width: 150px;
}

.sidenav a{
    color: whitesmoke;
}

.sidenav i{
    padding-right: 10px;
}

.content {
    background-color: white;
    padding: 16px;
}